body {
      background: #66CDAA;
      height: 100%;
      width: 80%;
      margin-right: 10%;
    }

header {
     width: 100%;
     height: 100%;
     margin-top: -10px;
     margin-left: 10%;
     }

  h1 {
     color: rgb(18, 20, 24);
     font-family: "cornerstone";
     text-align: center;
     font-style: italic;
     position: absolute;
     top: auto;
     left: 40%;
     
     }
#Matriz{
     position: absolute;
     margin-top: 20px;
     margin-left: 41%;
     box-shadow: 15px 15px 10px #458B74;
}

#next{
     margin-top: 20px;
     margin-left: 20%;
     height: 200px;
     width: 250px;
     background: #eeeeee;
     position: absolute;
     box-shadow: 15px 15px 10px #458B74;
}
#score{
     margin-top: 265px;
     margin-left: 20%;
     height: 250px;
     width: 250px;
     background: #eeeeee;
     position: absolute;
     box-shadow: 15px 15px 10px #458B74;
}

#hold{
     margin-top: 20px;
     margin-left: 62%;
     height: 200px;
     width: 250px;
     background: #eeeeee;
     position: absolute;
     box-shadow: 15px 15px 10px #458B74;
}

#rank{
     margin-top: 265px;
     margin-left: 62%;
     height: 250px;
     width: 250px;
     background: #eeeeee;
     position: absolute;
     box-shadow: 15px 15px 10px #458B74;
     overflow-y: auto;
}

.title{
     font-family: cursive;
     text-align: center;
}

.canvas-lateral{
     width: 100%;
     height: 135px;
     position: absolute;
}
#next-canvas{
     width: 240px;
     margin-top: 15px;
     margin-left: 70px;
     height: 125px;
     
}
#hold-canvas{
     width: 240px;
     margin-top: 5px;
     margin-left: 5px;
     height: 125px;
}
/*Estilo do ranking */
ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }
 li {
     align-content: center;
     border: 1px;
     border-style: dashed;
 }
/*Estilo dos pontos*/
#score-info{
     height: auto;
     width: 240px;
     margin-top: 5px;
     margin-left: 5px;
}

#time{
     font-family: cursive;
     text-align: center;
}
#rows{
     font-family: cursive;
     text-align: center;
}
#points{
     font-family: cursive;
     text-align: center;
}
#level{
     font-family: cursive;
     text-align: center;
}

#logo{
     width: 100%;
}
#tetris-logo{
     text-align: center;
     margin-left: 37%;
     height: 100px;
     width: 350px;
}
#button {
     padding: 15px 25px;
     font-size: 15px;
     text-align: center;
     cursor: pointer;
     outline: none;
     color: #fff;
     background-color: #458B74;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
     margin-top: 20px;
     position: absolute;
     margin-left: 8%;
}
   
#button:hover {
     background-color: #4A708B;
}
   
#button:active {
     background-color: #4A708B;
     box-shadow: 0 5px #999;
     transform: translateY(4px);
}
#button2 {
     padding: 15px 25px;
     font-size: 15px;
     text-align: center;
     cursor: not-allowed;
     outline: none;
     color: #fff;
     background-color: #458B74;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
     margin-top: 90px;
     position: absolute;
     margin-left: 8%;
}
   
#button2:hover {
     background-color: #4A708B;
}
   
#button2:active {
     background-color: #4A708B;
     box-shadow: 0 5px #999;
     transform: translateY(4px);
}

#button3 {
     padding: 15px 25px;
     font-size: 15px;
     text-align: center;
     cursor: pointer;
     outline: none;
     color: #fff;
     background-color: #458B74;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
     margin-top: 160px;
     position: absolute;
     margin-left: 8%;
}
   
#button3:hover {
     background-color: #4A708B;
}
   
#button3:active {
     background-color: #4A708B;
     box-shadow: 0 5px #999;
     transform: translateY(4px);
}
#button4 {
     padding: 15px 25px;
     font-size: 15px;
     text-align: center;
     cursor: pointer;
     outline: none;
     color: #fff;
     background-color: #458B74;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
     margin-left: 160px;
     margin-top: 40px;
}
   
#button4:hover {
     background-color: #4A708B;
}
   
#button4:active {
     background-color: #4A708B;
     box-shadow: 0 5px #999;
     transform: translateY(4px);
}

#instructions{
     height: 400px;
     width: 400px;
     border-radius: 5%;
     background: #76EEC6;
     position: absolute;
     margin-left: 35%;
     margin-top: 3%;
     display: none;
     border-style: solid;
     border-color: black;
     box-shadow: 10px 10px 10px #999;
}
#instructions > h2{
     text-align: center;
     font-family: cursive;
     margin-bottom: 25px;
}
#instructions > .key{
     margin-left: 10px;
     margin-top: 10px;
     width: 47%;
     height: 55px;
     float: left;
}
.key > img{
     width: 50px;
     height: 50px;
     float: left;
}
.key > p{
     font-family: cursive;
     margin-left: 5px;
     text-align: center;
     vertical-align: middle;
     margin-top: -1px;
}
